

@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  
}
* {
	margin: 0;
	padding: 0;
}

.navbar {
  background-color: #FFB22C;
}

.navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand{
  font-size: 2rem;
  font-weight: bold;
}

.nav-item{
  font-size: 1.5rem;
}

li{
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.addnote{
  cursor: pointer;
}

.userProfile{
  cursor: pointer;
}


/* home */

.card {
  width: 290px;
  height: 430px;
  margin: 0 auto;
  background-color: #FF4C4C;
  border-radius: 8px;
  z-index: 1;
  box-shadow: 0px 10px 10px rgb(73, 70, 92);
}

.top {
  display: flex;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  align-items: center;
  padding-left: 10px;
}

.circle {
  padding: 0 4px;
}

.circle2 {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 5px;
}

.black {
  background-color: #45474B;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}

.header {
  margin: 5px;
  border-radius: 5px;
}

#title2 {
  color: white;
  padding-left: 20px;
  font-size: 10px;
  letter-spacing: 2px;
}

#Footertitle {
  color: white;
  text-align: center;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.code-container {
  text-align: center;
}


#code {
  width: 270px;
  height: 330px;
  resize: none;
  background-color: rgb(73, 70, 92);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px;
}

.fa-solid{
  cursor: pointer;
  padding-left: 20px;
}

.pencil:hover{
  color: #ffafaf;
}

.trash:hover{
  color: #ffafaf;
}


/* note */

.Note_card {
  width: 800px;
  margin: 0 auto;
  background-color: #FF4C4C;
  border-radius: 8px;
  box-shadow: 0px 10px 10px rgb(73, 70, 92);
}

.Note_top {
  text-align: center;
}

.input {
  width: 740px;
  padding: 10px;
  font-size: small;
  font-weight: bold;
  text-align: center;
  background-color: rgb(73, 70, 92);
  border-radius: 5px;
  border: none;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
 }

 .note_title{
  text-align: center;
}

 .Note_code-container {
  text-align: center;
}


#description {
  width: 750px;
  height: 400px;
  background-color: rgb(73, 70, 92);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px;
}

.btn_note{
  background-color: #FFB22C;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: none;
}

.btn_note:hover{
  background-color: #FFC107;
}


/* floatingnote */
.modal-content{
  margin: 0 auto;
  background-color: #FF4C4C;
  border-radius: 8px;
  box-shadow: 0px 10px 10px rgb(73, 70, 92);
} 

.modal-content textarea{
  width: 450px;
  height: 330px;
  resize: none;
  background-color: rgb(73, 70, 92);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 10px;
  margin: 10px;
}

/* Floating delete Confirmation */

.Delete_input{
  width: 450px;
  height: 40px;
  text-align: center;
  background-color: rgb(73, 70, 92);
  border-radius: 5px;
  border: none;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  
}


/* login */
.form_main {
  width: 320px;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FF4C4C;
  padding: 30px 30px 30px 30px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
  position: relative;
  overflow: hidden;
  margin-top: 10px;
}

.form_main::before {
  position: absolute;
  content: "";
  width: 300px;
  height: 300px;
  background-color: #F6FB7A;
  transform: rotate(45deg);
  left: -180px;
  bottom: 30px;
  z-index: 1;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}

.heading {
  font-size: 2em;
  color: #2e2e2e;
  font-weight: 700;
  margin: 5px 0 10px 0;
  z-index: 2;
}

.inputContainer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.inputIcon {
  position: absolute;
  left: 3px;
}

.inputField {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(173, 173, 173);
  margin: 10px 0;
  color: black;
  font-size: .8em;
  font-weight: 500;
  box-sizing: border-box;
  padding-left: 30px;
}

.inputField:focus {
  outline: none;
  border-bottom: 2px solid #050300;
}

.inputField::placeholder {
  color: rgb(0, 0, 0);
  font-size: 1em;
  font-weight: 500;
}

#button {
  z-index: 2;
  position: relative;
  width: 100%;
  border: none;
  background-color: #FFB22C;
  height: 30px;
  color: black;
  font-size: .8em;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 10px;
  cursor: pointer;
}

#button:hover {
  background-color: #FFB22C;
}

.forgotLink {
  z-index: 2;
  font-size: .9em;
  font-weight: 500;
  color: black;
  text-decoration: none;
  border-radius: 20px;
}

.link{
  color: black;
  text-decoration: none;
}


/* forget password */

.form {
  background-color: #e9e8e8;
  display: block;
  padding: 1rem;
  max-width: 350px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input, .form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.input-container span {
  display: grid;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  place-content: center;
}

.input-container span svg {
  color: #9CA3AF;
  width: 1rem;
  height: 1rem;
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #FF4C4C;
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}


/* signup */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.Registertitle {
  font-size: 28px;
  color: #FF4C4C;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.Registertitle::before,.Registertitle::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #FF4C4C;
}

.Registertitle::before {
  width: 18px;
  height: 18px;
  background-color: #FF4C4C;
}

.Registertitle::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: #FF4C4C;
}

.signin a:hover {
  text-decoration: underline #FF4C4C;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: #FF4C4C;
}

.submit {
  border: none;
  outline: none;
  background-color: #FFB22C;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: #b57301;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}


/* Lodder */
.loader {
  box-sizing: border-box;
  display: inline-block;
  width: 50px;
  height: 80px;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  position: relative;
  background: linear-gradient(#FF3D00 30px, transparent 0) no-repeat;
  background-size: 2px 40px;
  background-position: 50% 0px;
  animation: spinx 5s linear infinite;
}

.loader:before, .loader:after {
  content: "";
  width: 40px;
  left: 50%;
  height: 35px;
  position: absolute;
  top: 0;
  transform: translatex(-50%);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 0 0 20px 20px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0px;
  animation: lqt 5s linear infinite;
}

.loader:after {
  top: auto;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  animation: lqb 5s linear infinite;
}

@keyframes lqt {
  0%, 100% {
    background-image: linear-gradient(#FF3D00 40px, transparent 0);
    background-position: 0% 0px;
  }

  50% {
    background-image: linear-gradient(#FF3D00 40px, transparent 0);
    background-position: 0% 40px;
  }

  50.1% {
    background-image: linear-gradient(#FF3D00 40px, transparent 0);
    background-position: 0% -40px;
  }
}

@keyframes lqb {
  0% {
    background-image: linear-gradient(#FF3D00 40px, transparent 0);
    background-position: 0 40px;
  }

  100% {
    background-image: linear-gradient(#FF3D00 40px, transparent 0);
    background-position: 0 -40px;
  }
}

@keyframes spinx {
  0%, 49% {
    transform: rotate(0deg);
    background-position: 50% 36px;
  }

  51%, 98% {
    transform: rotate(180deg);
    background-position: 50% 4px;
  }

  100% {
    transform: rotate(360deg);
    background-position: 50% 36px;
  }
}


.pointer{
  cursor: pointer;
}
    
  

